# 忽略根目录下除 keil 文件夹外的所有内容
/source/
/tools/
/.metadata/

# 在 keil 文件夹内，忽略编译生成的文件
keil/Objects/
keil/Listings/
keil/RTE/
keil/DebugConfig/

# Keil uVision 用户配置文件
keil/*.uvguix.*
keil/*.uvgui.*

# 编译生成的文件
*.bak
*.dep
*.plg
*.tra
*.iex
*.__i
*.crf
*.d
*.axf
*.htm
*.lnp
*.map
*.build_log.htm
*.o
*.obj
*.elf
*.hex
*.bin

# OS 特定文件
.DS_Store
Thumbs.db
Desktop.ini
